@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Roboto:wght@500&display=swap');

:root {
    --primary-color-background: #e6b6be;
    --hight-color-background: #fffeff;
    --dark-color: #010001;
    --secondary-hight-color-background: #eae8ea;
}

body {
    color: var(--dark-color);
}

p {
    font-size: 15px;
}

h1 span {
    display: block;
}

.main {
    font-family: 'Roboto';
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-side {
    width: 60%;
    background: var(--hight-color-background);
}

.right-side {
    width: 40%;
    background: var(--primary-color-background);
}

.menu,
.appointment {
    font-size: 24px;
    margin: 1em 1em 0 1em;
    border-bottom: 1px solid var(--dark-color);
    width: fit-content;
}

.appointment {
    align-self: flex-end;
    margin-right: 2em;
}

.slider-image {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    padding-top: 5em;
}

.slider-image::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
}

.img {
    height: 260px;
    width: 240px;
}


.img1 {
    background: url(pictures/girl-3141766_640.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    animation: animimg1 2s normal;
}

@keyframes animimg1 {
    from {
        margin-right: -100px;
    }

    to {
        margin-right: 0em;
    }
}

.img2 {
    margin-right: 1em;
    background: url(pictures/cream-194116_640.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    animation: animimg2 2s normal;
}

@keyframes animimg2 {
    from {
        margin-right: -10px;
    }

    to {
        margin-right: 1em;
    }
}

.img3 {
    background: url(pictures/woman-4630131_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: animimg3 4s normal;
}

@keyframes animimg3 {
    from {
        margin-right: -200px;
    }

    to {
        margin-right: 0em;
    }
}

.title-bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-family: 'El Messiri', sans-serif;
    font-size: 278px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    animation: titleanim 4s normal;
}

@keyframes titleanim {
    from {
        font-size: 0px;
    }

    to {
        font-size: 278px;
    }
}

.legende1,
.legende2,
.legende3 {
    align-self: flex-end;
    width: 45%;
    padding: 1em;
}


.legende1 :nth-child(2) {
    animation: legendeanim 10s normal;
}

.legende1 :nth-child(1) {
    animation: legendeanim 4s normal;
}

@keyframes legendeanim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.legende2,
.legende3 {
    display: none;
}

.right-up,
.right-bottom {
    align-self: center;
    margin-top: 30%;
    width: 100%;
}

.right-up p,
.right-bottom p {
    padding-left: 45%;
}

.right-up {
    padding-top: 1em;
}

.right-up :nth-child(2) {
    animation: legendeanim 3s normal;
}

.right-up :nth-child(3) {
    animation: rightupanim 4s normal;
}

@keyframes rightupanim {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

.right-bottom :nth-child(2) {
    animation: legendeanim 6s normal;
}

.right-bottom :nth-child(3) {
    margin-top: 1em;
}

@media (max-height :650px) {
    .title-bottom {
        font-size: 178px;
        animation: titleanim600 4s normal;
    }

    .right-up,
    .right-bottom {

        margin-top: 21%;
    }
}

@keyframes titleanim600 {
    from {
        font-size: 0px;
    }

    to {
        font-size: 178px;
    }
}

@media (max-width :836px) {
    .title-bottom {
        font-size: 137px;
        animation: titleanim800 4s normal;
    }

    .right-up,
    .right-bottom {

        margin-top: 40%;
    }
}

@keyframes titleanim800 {
    from {
        font-size: 0px;
    }

    to {
        font-size: 137px;
    }
}

@media (max-width :500px) {
    .title-bottom {
        font-size: 108px;
        animation: titleanim500 4s normal;
    }

    .right-up,
    .right-bottom {

        margin-top: 40%;
    }
}

@keyframes titleanim500 {
    from {
        font-size: 0px;
    }

    to {
        font-size: 108px;
    }
}